<img ngSrc="assets/images/charactyr.png" fill class="object-cover"
     alt="Background image of the Charactyr website's login and registration page showing a character walking towards a fantasy land"
     priority>

<div class="bg-color absolute h-screen right-0 opacity-85 w-1/3 p-3 flex flex-col items-center">
  <div *ngIf="screenState == LoginAndSignUpScreenState.PASSWORD_RESET" class="self-start cursor-pointer flex"
       (click)="setScreenState(LoginAndSignUpScreenState.LOGIN)">
    <img ngSrc="assets/images/back-icon.svg" width="16" height="16" alt="Back icon">
    <p>Back</p>
  </div>
  <img ngSrc="assets/images/character-avatar.jpeg" alt="Charactyr logo" width="140" height="140"
       class="rounded-full" priority>
  <h1 class="text-5xl mt-2">CHARACTYR</h1>

  <div *ngIf="screenState == LoginAndSignUpScreenState.PASSWORD_RESET" class="flex flex-col mt-5 px-5 text-center">
    <h2 class="text-2xl">Reset your password</h2>
    <p class="text-xl mt-1">Enter the email you used when you signed up at Charactyr to receive a password reset
      link.</p>
  </div>

  <form [formGroup]="loginOrSignUpForm" class="flex flex-col mt-5 w-2/3 max-w-60">
    <div *ngIf="screenState == LoginAndSignUpScreenState.SIGN_UP" class="flex flex-col">
      <label for="username-input" class="text-xl">Username</label>
      <input id="username-input" formControlName="usernameFormControl" class="input-field-style corner-rounding">
    </div>

    <label for="email-input" class="text-xl" [ngClass]="{'mt-3' : screenState == LoginAndSignUpScreenState.SIGN_UP}">
      Email
    </label>
    <input id="email-input" formControlName="emailFormControl" class="input-field-style corner-rounding">

    <div *ngIf="screenState != LoginAndSignUpScreenState.PASSWORD_RESET"
         class="mt-3">
      <label for="password-input" class="text-xl">Password</label>
      <div class="flex bg-white corner-rounding">
        <input id="password-input" formControlName="passwordFormControl"
               class="flex-grow input-field-style corner-rounding"
               type="{{showPasswordCleartext ? 'text' : 'password'}}">
        <img class="mr-1 cursor-pointer"
             ngSrc="assets/images/{{showPasswordCleartext ? 'eye.svg' : 'eye-strikethrough.svg'}}"
             height="16" width="16" alt="Eye {{ !showPasswordCleartext ? 'strikethrough':'' }} icon"
             (click)="toggleShowPasswordCleartext()">
      </div>
    </div>

    <div *ngIf="screenState == LoginAndSignUpScreenState.LOGIN" class="my-5 flex">
      <input type="checkbox" id="stay-logged-in-checkbox" class="mr-2 scale-125">
      <label for="stay-logged-in-checkbox" class="text-xl">Stay logged in</label>
    </div>

    <button
      [ngClass]="{'mb-5':screenState == LoginAndSignUpScreenState.LOGIN, 'my-5': screenState != LoginAndSignUpScreenState.LOGIN}"
      class="btn-color-scheme h-10 text-3xl corner-rounding">
      {{ getButtonTextForState() }}
    </button>

    <p *ngIf="screenState == LoginAndSignUpScreenState.LOGIN" class="text-center text-xl mb-3 cursor-pointer"
       (click)="setScreenState(LoginAndSignUpScreenState.PASSWORD_RESET)">
      I forgot my password</p>
    <div *ngIf="screenState != LoginAndSignUpScreenState.PASSWORD_RESET">
      <hr class="border-black opacity-20">
      <p class="text-center text-xl mt-3 cursor-pointer"
         (click)="alternateActionButtonClicked()">{{ screenState == LoginAndSignUpScreenState.LOGIN ? "Sign up" : "Log in" }}
        instead</p>
    </div>
  </form>
</div>
