<div class="flex flex-row p-5 bg-white bg-opacity-50 w-full">
  <div *ngIf="character">
    <img class="pr-5 h-20 w-20 object-contain" [src]="character.icon"
         width="100px">
  </div>
  <div *ngIf="character" class="flex flex-col">
    <p class="text-2xl"> {{ character.name }} </p>
    <p> {{ character.characterClass }} </p>
    <p class="opacity-50"> Level {{ character.level }} </p>
  </div>
  <div class="flex ml-auto items-center">
    <button (click)="clickToNav('/character-editor')"
            class="action-button px-5 py-3 bg-teal-500 text-white corner-rounding accent-font hover:bg-teal-600 mr-5">Edit
    </button>
    <button (click)="clickToNav('/overview')"
            class="action-button px-5 py-3 bg-teal-500 text-white corner-rounding accent-font hover:bg-teal-600">My characters
    </button>
  </div>
</div>
