<div class="flex flex-row p-5 bg-white bg-opacity-50 w-full">
    <div>
        <img src="assets/images/character_frame_empty.jpeg" width="100px" height="100px"
            class="pr-5 cursor-pointer hover:opacity-50 transition-opacity duration-300">
    </div>
    <div class="flex flex-col">
        <p class="text-2xl">Character Name</p>
        <p>Character Class</p>
        <p class="opacity-50">Character Level</p>
    </div>
    <div class="flex ml-auto items-center">
        <button (click)="clickToNav()" class="action-button px-5 py-3 bg-orange-500 text-white rounded hover:bg-orange-600">Edit</button>
    </div>
</div>