<ng-template #characterSheetPageTitle>
  <div *ngIf="character" class="flex items-center">
    <img class="rounded-full h-10 w-10 cursor-pointer"
         ngSrc="{{ environment.resourceRoots.images.characterFrames.mini }}/{{ character.icon.replace('.jpeg','.png') }}"
         (click)="this.characterImageIconClicked.emit()" width="40" height="40" alt="Character icon">
    <p class="ml-1"> {{ character.name }} • Level {{ character.level }} {{ character.characterClass }} •
      P{{ character.getVisibility().slice(1) }} character</p>
  </div>
</ng-template>
<ng-template #characterSheetHeaderEndActions>
  <div class="flex items-center">
    <button *ngIf="isEditable" class="corner-rounding flex items-center header-action-button"
            (click)="editButtonClicked()" title="Edit this character">
      <i class="fa-solid fa-pen"></i>
    </button>
    <button class="corner-rounding flex items-center header-action-button" (click)="myCharactersButtonClicked()"
            title="My characters">
      <i class="fa-solid fa-house"></i>
    </button>
  </div>
</ng-template>

<dynamic-header [pageTitle]="characterSheetPageTitle"
                [headerEndActions]="characterSheetHeaderEndActions"></dynamic-header>