<background-image></background-image>
<div class="form-container bg-color">
  <form-header></form-header>
  <form [formGroup]="passwordResetForm" class="form">
    <label for="password-input" class="text-xl mt-3">Password</label>
    <div class="flex bg-white corner-rounding">
      <input id="password-input" formControlName="password"
             class="flex-grow input-field corner-rounding"
             type="{{ showPasswordCleartext ? 'text' : 'password' }}">
      <img class="mr-1 cursor-pointer"
           ngSrc="assets/images/{{ showPasswordCleartext ? 'eye.svg' : 'eye-strikethrough.svg' }}"
           height="16" width="16" alt="Eye {{ !showPasswordCleartext ? 'strikethrough' : '' }} icon"
           (click)="togglePasswordCleartext(true)">
    </div>
    <p *ngIf="!passwordResetForm.controls.password.untouched && passwordResetForm.controls.password.invalid"
       class="input-error">Please enter a password</p>

    <label for="confirmed-password-input" class="text-xl mt-3">Confirm new password</label>
    <div class="flex bg-white corner-rounding">
      <input id="confirmed-password-input" formControlName="confirmedPassword"
             class="flex-grow input-field corner-rounding"
             type="{{ showConfirmedPasswordClearText ? 'text' : 'password' }}">
      <img class="mr-1 cursor-pointer"
           ngSrc="assets/images/{{ showConfirmedPasswordClearText ? 'eye.svg' : 'eye-strikethrough.svg' }}"
           height="16" width="16" alt="Eye {{ !showConfirmedPasswordClearText ? 'strikethrough' : '' }} icon"
           (click)="togglePasswordCleartext(false)">
    </div>
    <p
      *ngIf="!passwordResetForm.controls.confirmedPassword.untouched && passwordResetForm.controls.confirmedPassword.hasError('required')"
      class="input-error">Please enter again the password entered in the previous field</p>
    <p *ngIf="!passwordResetForm.controls.confirmedPassword.untouched && passwordResetForm.hasError('sameValue')"
       class="input-error">This password does not match the one entered in the previous field</p>

    <button class="btn-color-scheme text-2xl md:text-3xl lg:text-4xl corner-rounding heading-font my-5">
      Set new password
    </button>
  </form>
</div>

