<background-image></background-image>
<div class="form-container bg-color">
  <form-header></form-header>
  <form [formGroup]="passwordResetForm" class="form">
    <label class="text-xl mt-3" for="password-input">Password</label>
    <div class="flex bg-white corner-rounding">
      <input class="flex-grow input-field corner-rounding" formControlName="password"
             id="password-input"
             type="{{ showPasswordCleartext ? 'text' : 'password' }}">
      <img (click)="togglePasswordCleartext(true)"
           alt="Eye {{ !showPasswordCleartext ? 'strikethrough' : '' }} icon"
           class="mr-1 cursor-pointer" height="16"
           ngSrc="assets/images/{{ showPasswordCleartext ? 'eye.svg' : 'eye-strikethrough.svg' }}"
           width="16">
    </div>
    <p *ngIf="!passwordResetForm.controls.password.untouched && passwordResetForm.controls.password.invalid"
       class="input-field-error-msg">Please enter a password</p>

    <label class="text-xl mt-3" for="confirmed-password-input">Confirm new password</label>
    <div class="flex bg-white corner-rounding">
      <input class="flex-grow input-field corner-rounding" formControlName="confirmedPassword"
             id="confirmed-password-input"
             type="{{ showConfirmedPasswordClearText ? 'text' : 'password' }}">
      <img (click)="togglePasswordCleartext(false)"
           alt="Eye {{ !showConfirmedPasswordClearText ? 'strikethrough' : '' }} icon"
           class="mr-1 cursor-pointer" height="16"
           ngSrc="assets/images/{{ showConfirmedPasswordClearText ? 'eye.svg' : 'eye-strikethrough.svg' }}"
           width="16">
    </div>
    <p
      *ngIf="!passwordResetForm.controls.confirmedPassword.untouched && passwordResetForm.controls.confirmedPassword.hasError('required')"
      class="input-field-error-msg">Please enter again the password entered in the previous field</p>
    <p *ngIf="!passwordResetForm.controls.confirmedPassword.untouched && passwordResetForm.hasError('sameValue')"
       class="input-field-error-msg">This password does not match the one entered in the previous field</p>

    <button class="btn-color-scheme text-2xl md:text-3xl lg:text-4xl corner-rounding accent-font my-5">
      Set new password
    </button>
  </form>
</div>

