<background-image></background-image>
<div class="form-container bg-color">
  <form-header></form-header>
  <form [formGroup]="loginForm" class="form">
    <label class="text-xl" for="email-input">Email</label>
    <input class="input-field corner-rounding" formControlName="email" id="email-input">
    <p *ngIf="!loginForm.controls.email.untouched && loginForm.controls.email.invalid" class="input-field-error-msg">
      Please enter your email using the format name&#64;example.com
    </p>

    <label class="text-xl mt-3" for="password-input">Password</label>
    <div class="flex bg-white corner-rounding">
      <input class="flex-grow input-field corner-rounding" formControlName="password" id="password-input"
             type="{{ showPasswordCleartext ? 'text' : 'password' }}">
      <img (click)="togglePasswordClearText()"
           alt="Eye {{ !showPasswordCleartext ? 'strikethrough' : '' }} icon"
           class="mr-1 cursor-pointer" height="16" ngSrc="assets/images/{{ showPasswordCleartext ? 'eye.svg' : 'eye-strikethrough.svg' }}"
           width="16">
    </div>
    <p
      *ngIf="!loginForm.controls.password.untouched && loginForm.controls.password.invalid"
      class="input-field-error-msg">
      You need to enter your password to log in.</p>

    <div class="my-5 flex">
      <input class="mr-2 scale-125" formControlName="stayLoggedIn" id="stay-logged-in-checkbox" type="checkbox">
      <label class="text-xl" for="stay-logged-in-checkbox">Stay logged in</label>
    </div>

    <button class="btn-color-scheme text-2xl md:text-3xl lg:text-4xl corner-rounding heading-font mb-5">Log in</button>

    <p class="text-center text-xl mb-3 cursor-pointer link" routerLink="/request-password-reset">I forgot my
      password</p>

    <hr class="border-black opacity-20">
    <p class="text-center text-xl mt-3 cursor-pointer link" routerLink="/sign-up">Sign up instead</p>
  </form>
</div>

