<background-image></background-image>
<div class="form-container bg-color">
  <form-header></form-header>
  <form [formGroup]="signUpForm" class="form">
    <label class="text-xl" for="username-input">Username</label>
    <input class="input-field corner-rounding" formControlName="username" id="username-input">
    <p *ngIf="!signUpForm.controls.username.untouched && signUpForm.controls.username.hasError('required')"
       class="input-field-error-msg">Please enter a username</p>
    <p *ngIf="!signUpForm.controls.username.untouched && signUpForm.controls.username.hasError('pattern')"
       class="input-field-error-msg">Username must have at least one letter and can optionally have digits and
      underscores</p>

    <label class="text-xl mt-3" for="email-input">Email</label>
    <input class="input-field corner-rounding" formControlName="email" id="email-input">
    <p *ngIf="!signUpForm.controls.email.untouched && signUpForm.controls.email.invalid" class="input-field-error-msg">
      Please enter your email using the format name&#64;example.com</p>

    <label class="text-xl mt-3" for="password-input">Password</label>
    <div class="flex bg-white corner-rounding">
      <input class="flex-grow input-field corner-rounding" formControlName="password"
             id="password-input"
             type="{{ showPasswordCleartext ? 'text' : 'password' }}">
      <img (click)="togglePasswordCleartext(true)"
           alt="Eye {{ !showPasswordCleartext ? 'strikethrough' : '' }} icon"
           class="mr-1 cursor-pointer" height="16" ngSrc="assets/images/{{ showPasswordCleartext ? 'eye.svg' : 'eye-strikethrough.svg' }}"
           width="16">
    </div>
    <p *ngIf="!signUpForm.controls.password.untouched && signUpForm.controls.password.invalid"
       class="input-field-error-msg">
      Please enter a password</p>

    <label class="text-xl mt-3" for="confirmed-password-input">Confirm password</label>
    <div class="flex bg-white corner-rounding">
      <input class="flex-grow input-field corner-rounding" formControlName="confirmedPassword"
             id="confirmed-password-input"
             type="{{ showConfirmedPasswordCleartext ? 'text' : 'password' }}">
      <img (click)="togglePasswordCleartext(false)"
           alt="Eye {{ !showConfirmedPasswordCleartext ? 'strikethrough' : '' }} icon"
           class="mr-1 cursor-pointer" height="16" ngSrc="assets/images/{{ showConfirmedPasswordCleartext ? 'eye.svg' : 'eye-strikethrough.svg' }}"
           width="16">
    </div>
    <p
      *ngIf="!signUpForm.controls.confirmedPassword.untouched && signUpForm.controls.confirmedPassword.hasError('required')"
      class="input-field-error-msg">Please enter again the password entered in the previous field</p>
    <p *ngIf="!signUpForm.controls.confirmedPassword.untouched && signUpForm.hasError('sameValue')"
       class="input-field-error-msg">This password does not match the one entered in the previous field</p>

    <button class="btn-color-scheme text-2xl md:text-3xl lg:text-4xl corner-rounding heading-font my-5">Sign up</button>

    <hr class="border-black opacity-20">
    <p class="text-center text-xl mt-3 cursor-pointer link" routerLink="/login">Log in instead</p>
  </form>
</div>

