<background-image></background-image>
<div class="form-container bg-color">
  <form-header></form-header>
  <form [formGroup]="signUpForm" class="form">
    <label for="username-input" class="text-xl">Username</label>
    <input id="username-input" formControlName="username" class="input-field corner-rounding">
    <p *ngIf="!signUpForm.controls.username.untouched && signUpForm.controls.username.hasError('required')"
       class="input-error">Please enter a username</p>
    <p *ngIf="!signUpForm.controls.username.untouched && signUpForm.controls.username.hasError('pattern')"
       class="input-error">Username must have at least one letter and can optionally have digits and underscores</p>

    <label for="email-input" class="text-xl mt-3">Email</label>
    <input id="email-input" formControlName="email" class="input-field corner-rounding">
    <p *ngIf="!signUpForm.controls.email.untouched && signUpForm.controls.email.invalid" class="input-error">
      Please enter your email using the format name&#64;example.com</p>

    <label for="password-input" class="text-xl mt-3">Password</label>
    <div class="flex bg-white corner-rounding">
      <input id="password-input" formControlName="password"
             class="flex-grow input-field corner-rounding"
             type="{{ showPasswordCleartext ? 'text' : 'password' }}">
      <img class="mr-1 cursor-pointer"
           ngSrc="assets/images/{{ showPasswordCleartext ? 'eye.svg' : 'eye-strikethrough.svg' }}"
           height="16" width="16" alt="Eye {{ !showPasswordCleartext ? 'strikethrough' : '' }} icon"
           (click)="togglePasswordCleartext(true)">
    </div>
    <p *ngIf="!signUpForm.controls.password.untouched && signUpForm.controls.password.invalid" class="input-error">
      Please enter a password</p>

    <label for="confirmed-password-input" class="text-xl mt-3">Confirm password</label>
    <div class="flex bg-white corner-rounding">
      <input id="confirmed-password-input" formControlName="confirmedPassword"
             class="flex-grow input-field corner-rounding"
             type="{{ showConfirmedPasswordCleartext ? 'text' : 'password' }}">
      <img class="mr-1 cursor-pointer"
           ngSrc="assets/images/{{ showConfirmedPasswordCleartext ? 'eye.svg' : 'eye-strikethrough.svg' }}"
           height="16" width="16" alt="Eye {{ !showConfirmedPasswordCleartext ? 'strikethrough' : '' }} icon"
           (click)="togglePasswordCleartext(false)">
    </div>
    <p
      *ngIf="!signUpForm.controls.confirmedPassword.untouched && signUpForm.controls.confirmedPassword.hasError('required')"
      class="input-error">Please enter again the password entered in the previous field</p>
    <p *ngIf="!signUpForm.controls.confirmedPassword.untouched && signUpForm.hasError('notSamePassword')"
       class="input-error">This password does not match the one entered in the previous field</p>

    <button class="btn-color-scheme text-2xl md:text-3xl lg:text-4xl corner-rounding heading-font my-5">Sign up</button>

    <hr class="border-black opacity-20">
    <p class="text-center text-xl mt-3 cursor-pointer link" routerLink="/login">Log in instead</p>
  </form>
</div>

