<div *ngIf="selectedClass !== null">
  <div [innerHTML]="selectedClass.description"></div>
  <hr class="border-black opacity-20 mt-5 mb-5">
</div>

<div *ngIf="selectedClass && selectedLevel !== null">
  <h3>{{ selectedClass.className }} Skills for Level {{ selectedLevel }}</h3>
  <ul class="space-y-2">
    <li *ngFor="let skill of getSkills()"
        class="flex flex-col items-start p-2 text-lg font-medium text-gray-700 bg-gray-100 border rounded-md shadow-sm">
      <div class="text-lg">
        <p><strong>{{ skill.name }}:</strong></p>
        <p>{{ skill.description }}</p>
      </div>
    </li>

    <li *ngIf="selectedLevel >= 2"
        class="flex flex-col items-start p-2 text-lg font-medium text-gray-700 bg-gray-100 border rounded-md shadow-sm">
      <div class="text-lg mb-2"><strong>Choose Additional Skills:</strong></div>
      <div class="mb-2">Choose 3 skills that you will gain <strong>Proficiency</strong> in. Being proficient in a skill
        gives you a bonus to your rolls with that skill equal to your <strong>proficiency modifier</strong>.
      </div>
      <div class="space-y-3" class="flex flex-col items-start" *ngIf="abilities">
        <ng-container *ngFor="let dropdown of [0, 1, 2]; let i = index" class="flex flex-col items-start">
          <select (change)="onAbilityChange(i)" [(ngModel)]="selectedAbilities[i]" class="px-4">
            <option *ngFor="let abilityKey of availableAbilities" [disabled]="abilities[abilityKey]" [ngValue]="abilityKey">
              {{ abilityKey | titlecase }}
            </option>
          </select>
        </ng-container>        
      </div>
    </li>
  </ul>
</div>
<div *ngIf="!selectedClass || selectedLevel === null" class="text-lg">
  <p>Please choose a Character Level and Class to see the available skills.</p>
</div>
