<div>
    <div class="relative z-10 flex flex-row justify-left h-full text-black pt-5">
        <div *ngIf="selectedImage; else placeholder">
            <img [src]="selectedImage.src" [alt]="selectedImage.caption" width="100px" height="100px"
                class="pl-5 cursor-pointer hover:opacity-50 transition-opacity duration-300"
                (click)="showImageChoice()">
        </div>
        <ng-template #placeholder>
            <img src="assets/images/character_frame_questionmark.jpeg" width="100px" height="100px"
                class="pl-5 cursor-pointer hover:opacity-50 transition-opacity duration-300"
                (click)="showImageChoice()">
        </ng-template>
        <div class="flex flex-col pl-5">
            <p class="pb-3 text-lg">Character name</p>
            <input type="text" placeholder="Name your character..."
                class="p-2 rounded border border-gray-300 focus:outline-none focus:ring-2 focus:ring-orange-200" />
        </div>
    </div>
    <icon-choice-modal [isOpen]="isModalOpen" (close)="closeModal()" (imageSelected)="onImageSelected($event)"></icon-choice-modal>
</div>
