<div
  *ngIf="isOpen"
  class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50 text-lg"
>
  <div class="bg-white rounded-lg shadow-lg p-5 max-w-sm w-full">
    <h2 class="text-xl font-bold mb-4 accent-font">Icon Choice</h2>

    <div class="grid grid-cols-3 gap-2 pb-3">
      <div *ngFor="let image of images"
           class="border text-center cursor-pointer hover:opacity-50 transition-opacity duration-300">
        <img (click)="selectImage(image)"
             ngSrc="{{ environment.resourceRoots.images.characterFrames.default }}/{{image}}"
             width="128" height="128"
             class="h-32 w-32 object-contain" alt="Character image">
      </div>
    </div>

    <div class="flex justify-end">
      <button
        (click)="onClose()"
        class="px-4 py-2 bg-teal-500 text-white corner-rounding accent-font hover:bg-teal-600"
      >
        Close
      </button>
    </div>
  </div>
</div>
