<hr class="border-black opacity-20 mt-5">
<h1 class="text-2xl accent-font pt-5 pl-10">Ability Scores</h1>
<hr class="border-black opacity-20 mt-5">

<div class="stat-assignment grid grid-cols-3 gap-4 px-5 pt-3">
  <div *ngFor="let stat of statsList" class="flex flex-col items-start">
    <label class="text-lg">{{ stat | titlecase }}:</label>
    <select (change)="assignValue(stat, $event)" [value]="stats[stat] || ''"
            class="w-full px-4 py-2 bg-white border corner-rounding input-field shadow-sm text-left hover:bg-gray-100">
      <option value="">-- Select Value --</option>
      <option *ngFor="let value of availableValues"
              [disabled]="isValueAssigned(value) && stats[stat] !== value"
              [value]="value">
        {{ value }}
      </option>
    </select>

    <div *ngIf="manualEntryStats[stat]" class="pb-1">
      <input (input)="updateManualValue(stat, $event)"
             [value]="manualStatValues[stat] || ''"
             class="w-full px-2 mt-2 text-gray-700 bg-gray-100 border corner-rounding input-field"
             max="30"
             placeholder="Enter custom value"
             type="number" />
    </div>
    <div *ngIf="rolledEntryStats[stat]" class="mt-2 text-green-600">
      Rolled Value: {{ rolledStatValues[stat] }}
    </div>
    <span class="px-5 font-medium text-gray-700 bg-gray-100 border corner-rounding shadow-sm">
      Modifier: {{ calculateModifier(stats[stat]) }}
    </span>
    <button (click)="unassignValue(stat)" *ngIf="stats[stat] !== null || manualEntryStats[stat]"
            class="mt-2 text-teal-600 cursor-pointer underline hover:text-teal-800">
      Clear
    </button>
  </div>
</div>

<hr class="border-black opacity-20 mt-5">
<div class="px-10 pt-5 text-lg">
  <p class="mb-4">
    Much of what your character does in the game depends on their <strong>six abilities</strong>:
  </p>
  <p>Each ability has a modifier that you apply whenever you roll a D20 die with that ability. An ability modifier is
    derived from its score, as shown in the <strong>Ability Modifiers table</strong> below. It gets added as a flat
    bonus to your role, meaning higher scores make you more likely to succeed.</p>
  <ul class="space-y-2">
    <li (click)="toggleScoreModifierTable()"
        class="flex flex-col items-start p-2 text-lg font-medium text-gray-700 bg-gray-500 border rounded-md shadow-sm cursor-pointer hover:bg-gray-600">
      <div class="flex items-center gap-2 w-full text-white">
        <span class="pr-2">🎲</span>
        <strong>Score Modifier Table</strong>
      </div>
      <div *ngIf="showScoreModifierTable"
           class="w-full mt-5 p-2 text-sm text-gray-600 bg-gray-50 border border-gray-200 rounded">
        <table class="min-w-full border-collapse border border-gray-300 mt-2">
          <thead>
          <tr>
            <th class="border border-gray-300 px-4 py-2">Score</th>
            <th class="border border-gray-300 px-4 py-2">Modifier</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let score of scoreModifierTable">
            <td class="border border-gray-300 px-4 py-2 text-center">{{ score.value }}</td>
            <td class="border border-gray-300 px-4 py-2 text-center">{{ score.modifier }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </li>
    <li (click)="toggleDescription(stat)" *ngFor="let stat of statsList"
        class="flex flex-col items-start p-2 text-lg font-medium text-gray-700 bg-gray-100 border rounded-md shadow-sm cursor-pointer hover:bg-gray-200">
      <div class="flex items-center gap-2">
        <span [innerHTML]="statIcons[stat]"></span>
        <strong>{{ stat | titlecase }}</strong>
      </div>

      <div *ngIf="selectedStat === stat"
           class="mt-2 p-2 text-sm text-gray-600 bg-gray-50 border border-gray-200 rounded">
        {{ statDescriptions[stat] }}
      </div>
    </li>
  </ul>
  <p class="pt-5"></p>
</div>
<div class="flex flex-row justify-between px-10">
  <button (click)="onNavigate()" class="px-4 py-2 bg-orange-500 text-white corner-rounding accent-font hover:bg-orange-600">
    Back
  </button>
  <button (click)="clickToNav()" class="px-4 py-2 bg-orange-500 text-white corner-rounding accent-font hover:bg-orange-600">
    To Character Sheet
  </button>
</div>
<div class="pt-5"></div>
