@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~@fortawesome/fontawesome-free/css/all.css";

@font-face {
  font-family: "Metal Mania";
  src: url("assets/fonts/metal-mania-regular.ttf") format("truetype");
}

@font-face {
  font-family: "Bokor";
  src: url("assets/fonts/bokor-regular.ttf") format("truetype");
}

body {
  font-family: "Bokor", sans-serif;
}

.heading-font {
  font-family: "Metal Mania", serif;
}

.corner-rounding {
  @apply rounded-xl;
}

.bg-color {
  @apply bg-amber-400;
}

.btn-color-scheme {
  @apply bg-black;
  @apply text-white;
}
