<div class="component-display">
  <div class="relative min-h-screen bg-cover bg-center bg-no-repeat w-full h-full"
       style="background-image: url('assets/images/background/bg_character_editor_teal3.png'); background-size: cover;">
    <div class="flex flex-col text-black">
      <top-bar [isEditable]="isEditable"></top-bar>
      <stat-display></stat-display>
      <div class="flex flex-row">
        <saving-throws-display></saving-throws-display>
        <skills-display></skills-display>
        <div class="w-1/2 mr-5">
          <abilities-and-spells class="h-full" [isEditable]="isEditable"></abilities-and-spells>
        </div>
      </div>
    </div>
  </div>
</div>
