<div class="min-h-screen w-full bg-cover bg-center bg-no-repeat relative"
     style="background-image: url('assets/images/background/bg_character_editor_teal3.png'); background-size: cover;">
  <top-bar [isEditable]="isEditable" (characterImageIconClicked)="toggleOverlayOpen()"></top-bar>
  <div *ngIf="character && this.characterImageOverlayIsOpen"
       class="absolute z-10 top-40 flex w-full h-3/5 justify-center items-center">
    <div
      class="flex flex-col justify-center items-center bg-black opacity-95 w-4/5 h-full corner-rounding relative">
      <button (click)="toggleOverlayOpen()" class="self-end absolute top-0 mt-2 mx-2"
              title="Close character image overlay">
        <i class="fa-solid fa-close fa-2xl text-white"></i>
      </button>
      <img ngSrc="{{ environment.resourceRoots.images.characterFrames.default }}/{{ character.icon }}" width="200"
           height="200" alt="Character image in overlay" class="opacity-100">
    </div>
  </div>
  <stat-display></stat-display>
  <div class="flex flex-row">
    <saving-throws-display></saving-throws-display>
    <skills-display></skills-display>
    <div class="w-1/2 mr-5">
      <abilities-and-spells class="h-full" [isEditable]="isEditable"></abilities-and-spells>
    </div>
  </div>
</div>
