<div class="relative inline">
  <button
    class="header-action-button corner-rounding whitespace-nowrap overflow-hidden text-ellipsis max-w-40 p-2 corner-rounding ml-1"
    title="Profile actions" (click)="toggleProfileActionsVisible()">
    {{ this.username }}
  </button>
  <div *ngIf="this.profileActionsVisible" detectClicksOutside (clickedOutside)="toggleProfileActionsVisible()"
       class="corner-rounding flex flex-col absolute min-w-fit right-0 top-10 text-nowrap p-2 shadow-2xl btn-color-scheme z-10"
  >
    <div class="flex items-center cursor-pointer" (click)="logout()" title="Sign out of your account">
      <i class="fa-solid fa-right-from-bracket"></i>
      <span class="ml-2">Sign out</span>
    </div>
  </div>
</div>