<ng-template #characterEditorPageTitle>
  <h1 class="heading-font-size accent-font text-center">Character Editor</h1>
</ng-template>

<ng-template #characterEditorHeaderEndActions>
  <button (click)="clickToNav()" class="corner-rounding header-action-button flex items-center"
          title="Go to Character Sheet">
    <i class="fa-solid fa-sheet-plastic"></i>
  </button>
</ng-template>

<div class="flex flex-col pt-3">
  <dynamic-header class="px-3" [pageTitle]="characterEditorPageTitle"
                  [headerEndActions]="characterEditorHeaderEndActions"></dynamic-header>
  <hr class="border-black opacity-80 mt-3">
  <div class="flex flex-row justify-around h-[10vh]">
    <button (click)="selectComponent('character-class')"
            [ngClass]="{ 'bg-teal-500 hover:bg-teal-600 hover:opacity-75 text-white': selectedComponent === 'character-class' }"
            class="w-1/3 hover:bg-gray-300 hover:opacity-75 text-lg flex flew-row items-center justify-center">
      <p class="pr-5 text-2xl">Class</p>
      <i class="fa-solid fa-user fa-xl"></i>
    </button>
    <button (click)="selectComponent('stats')"
            [ngClass]="{ 'bg-teal-500 hover:bg-teal-600 hover:opacity-75 text-white': selectedComponent === 'stats' }"
            class="w-1/3 hover:bg-gray-300 hover:opacity-75 height=100% text-lg flex flex-row items-center justify-center">
      <p class="pr-5 text-2xl">Stats</p>
      <i class="fa-solid fa-chart-simple fa-xl"></i>
    </button>
    <button (click)="clickToNav()"
            class="w-1/3 height=100% action-button text-lg flex flex-row items-center justify-center">
      <p class="pr-5 text-2xl">Character Sheet</p>
      <i class="fa-solid fa-sheet-plastic fa-xl pr-3"></i>
      <i class="fa-solid fa-arrow-right fa-xl"></i>
    </button>
  </div>
  <hr class="border-black opacity-50">
  <div class="component-display">
    <div class="relative min-h-screen bg-cover bg-center bg-no-repeat w-full h-full"
         style="background-image: url('assets/images/bg_character_editor_teal2.png'); background-size: cover;">
      <div class="absolute inset-0 bg-black opacity-0"></div>
      <div class="flex justify-center items-center min-h-screen">
        <div class="bg-white w-1/2 relative z-10 flex flex-col h-full text-black">
          <character-class (navigate)="selectComponent($event)" *ngIf="selectedComponent == 'character-class'"
                           class="min-h-screen h-full"></character-class>
          <stats (navigate)="selectComponent($event)" *ngIf="selectedComponent == 'stats'"
                 class="min-h-screen h-full"></stats>
        </div>
      </div>
    </div>
  </div>
</div>
