<div>
  <div class="px-10 relative flex flex-row justify-left h-full text-black pt-5">
    <div *ngIf="character; else placeholder">
      <img (click)="showImageChoice()" [src]="character.icon"
           class="pr-5 cursor-pointer hover:opacity-50 transition-opacity duration-300 h-32 w-32 object-contain"
           >
    </div>
    <ng-template #placeholder>
      <img (click)="showImageChoice()" class="pr-5 cursor-pointer hover:opacity-50 transition-opacity duration-300"
           height="100px"
           src="assets/images/character_frame_questionmark.jpeg"
           width="100px">
    </ng-template>
    <form [formGroup]="characterForm" class="flex flex-col">
      <p class="pb-3 text-xl accent-font">Character name</p>
      <input 
        formControlName="characterName"
        class="p-2 corner-rounding input-field border-2 border-black"
        placeholder="Name your character..."
        type="text" 
      />
    </form>
  </div>

  <form *ngIf="copyCharacterForm" [formGroup]="copyCharacterForm">
    <div class="flex flex-col px-10 mt-5">
      <h2 class="text-lg accent-font">Visibility:</h2>
      <div class="flex">
        <div class="flex input-field">
          <input class="mr-2 radio-btn-size"
                 formControlName="newCharacterVisibility" id="character-visibility-public" type="radio"
                 value="character-visibility-public">
          <label for="character-visibility-public">Public</label>
        </div>
        <div class="flex input-field">
          <input class="mr-2 radio-btn-size"
                 formControlName="newCharacterVisibility" id="character-visibility-private" type="radio"
                 value="character-visibility-private">
          <label for="character-visibility-private">Private</label>
        </div>
      </div>
    </div>
  </form>

  <hr class="border-black opacity-20 mt-5">
  <h1 class="px-10 text-2xl accent-font pt-5">Character Class</h1>
  <hr class="border-black opacity-20 mt-5">
  <div class="px-10 py-5 text-lg">
    <p class="py-3">A <strong>class</strong> represents your character's skills, abilities, and role in the adventure.
      Each class offers a unique set of talents and a specific playstyle that defines how your character can contribute
      to the group.</p>
    <p class="py-3">Choosing a class is a crucial step in creating your character, as it determines your abilities,
      playstyle, and contributions to the adventuring party.</p>
  </div>
  <hr class="border-black opacity-20 mt-5">
  <div class="px-10 pt-5 pb-10">
    <div class="flex flex-row justify-between items-center pb-5">
      <class-choice-dropdown (itemSelected)="onClassChosen($event)"></class-choice-dropdown>
      <level-choice-dropdown (levelChange)="onLevelSelection($event)"
                             [selectedClass]="selectedClass" [selectedLevel]="selectedLevel"></level-choice-dropdown>
    </div>
    <class-description [selectedClass]="selectedClass" [selectedLevel]="selectedLevel"></class-description>
  </div>

  <div class="flex justify-end px-10">
    <button (click)="onNavigate()" class="px-5 py-2 bg-teal-500 text-white corner-rounding accent-font hover:bg-teal-600">
      Continue
    </button>
  </div>
  <div class="pt-5"></div>

  <!--Modal-->
  <icon-choice-modal (close)="closeModal()" (imageSelected)="onImageSelected($event)"
                     [isOpen]="isModalOpen"></icon-choice-modal>
</div>
