<div>
    <div class="px-10 relative flex flex-row justify-left h-full text-black pt-5">
        <div *ngIf="selectedImage; else placeholder">
            <img [src]="selectedImage.src" [alt]="selectedImage.caption" width="100px" height="100px"
                class="pr-5 cursor-pointer hover:opacity-50 transition-opacity duration-300"
                (click)="showImageChoice()">
        </div>
        <ng-template #placeholder>
            <img src="assets/images/character_frame_questionmark.jpeg" width="100px" height="100px"
                class="pr-5 cursor-pointer hover:opacity-50 transition-opacity duration-300"
                (click)="showImageChoice()">
        </ng-template>
        <div class="flex flex-col">
            <p class="pb-3 text-xl heading-font">Character name</p>
            <input type="text" placeholder="Name your character..."
                class="p-2 rounded border border-gray-300 focus:outline-none focus:ring-2 focus:ring-orange-200" />
        </div>
    </div>
    <hr class="border-black opacity-20 mt-5">
    <h1 class="px-10 text-2xl heading-font pt-5">Character Class</h1>
    <hr class="border-black opacity-20 mt-5">
    <div class="px-10 py-5 text-lg">
        <p class="py-3">A <strong>class</strong> represents your character's skills, abilities, and role in the adventure. Each class offers a unique set of talents and a specific playstyle that defines how your character can contribute to the group.</p>
        <p class="py-3">Choosing a class is a crucial step in creating your character, as it determines your abilities, playstyle, and contributions to the adventuring party.</p>
    </div>
    <hr class="border-black opacity-20 mt-5">
    <div class="px-10 pt-5 pb-10">
        <div class="flex flex-row justify-between items-center pb-5">
            <class-choice-dropdown (itemSelected)="onClassChosen($event)"></class-choice-dropdown>
            <level-choice-dropdown [selectedClass]="selectedClass" (levelChange)="onLevelSelection($event)"></level-choice-dropdown>
        </div>
        <class-description [selectedClass]="selectedClass" [selectedLevel]="selectedLevel"></class-description>
    </div>

    <div class="flex justify-end px-10">
        <button class="px-5 py-2 bg-orange-500 text-white rounded hover:bg-orange-600" (click)="onNavigate()">
            Weiter
        </button>
    </div>
    <div class="pt-5"></div>

    <!--Modal-->
    <icon-choice-modal [isOpen]="isModalOpen" (close)="closeModal()" (imageSelected)="onImageSelected($event)"></icon-choice-modal>
</div>