<div
  class="hover:border-black hover:shadow hover:shadow-black flex flex-col sm:w-full bg-color px-4 py-2 shadow-2xl border border-gray-500 corner-rounding">
  <div class="flex cursor-pointer" (click)="navigateToCharacterSheet()">
    <div *ngIf="character" class="flex flex-col w-2/3 mr-2 text-center">
      <p class="text-3xl lg:text-4xl accent-font"> {{ character.name }} </p>
      <p class="text-xl"> Level {{ character.level }} </p>
      <p class="text-xl"> Class {{ character.characterClass }} </p>
      <p class="text-xl"> Visibility {{ character.visibility }} </p>
    </div>
    <img *ngIf="character" alt="Character card background image"
         class="rounded-full h-32 w-32 object-cover" [src]="character.icon" priority>
  </div>
  <div *ngIf="!isPublicCharacterCard" class="flex mt-2">
    <button class="w-1/3 action-button corner-rounding lg:text-xl" (click)="navigateToEditor()">Edit</button>
    <button (click)="toggleModalVisibility()" class="w-1/3 action-button corner-rounding lg:text-xl">Copy</button>
    <div class="relative w-1/3 flex flex-col items-center action-button corner-rounding">
      <button (click)="toggleShowDeleteConfirmationDialog()" class="w-full corner-rounding lg:text-xl">Delete</button>
      <div *ngIf="showDeleteConfirmationDialog"
           class="accent-font flex justify-center bg-black text-white absolute w-36 top-8 corner-rounding">
        <span>Really delete?</span>
        <button (click)="deleteCharacter()" class="mx-2 text-green-500 hover:underline">Yes</button>
        <button (click)="toggleShowDeleteConfirmationDialog()" class="text-red-500 hover:underline">No</button>
      </div>
    </div>
  </div>
  <copy-character-modal (modalClosedEvent)="toggleModalVisibility()" (characterCopied)="onCharacterCopied($event)" [character]="character" [modalOpen]="modalOpen"></copy-character-modal>
</div>
