<background-image></background-image>
<div class="form-container bg-color">
  <form-header></form-header>

  <h2 class="text-2xl mt-8 text-center">Reset your password</h2>
  <p class="text-xl mt-2 text-center">Enter the email you used when you signed up at Charactyr.</p>

  <form class="form">
    <label for="email-input" class="text-xl">Email</label>
    <input id="email-input" [formControl]="email" class="input-field corner-rounding">
    <p *ngIf="!email.untouched && email.invalid" class="input-field-error-msg">
      Please enter your email using the format name&#64;example.com</p>

    <button class="btn-color-scheme text-2xl md:text-3xl lg:text-4xl corner-rounding heading-font my-5">
      Send reset link
    </button>

    <hr class="border-black opacity-20">
    <p class="text-center text-xl mt-3 cursor-pointer link" routerLink="/login">Log in instead</p>
    <p class="text-center text-xl mt-2 cursor-pointer link" routerLink="/sign-up">Sign up instead</p>
  </form>
</div>

